body{
    font-family: 'Abel', serif;
    margin: 0;
}
section{
    /* height: 500px; */
    background-color: white;
    /* border: solid black 1px; */
}

.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

nav{
    display: flex;
    justify-content: space-between;

}
ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}



li{
    /* width: 200px; */
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0;
}

h2{
    font-size: 80px;
}

p{
    margin: 0;
    font-weight: 80;
    font-size: 30px;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
}

.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-weight: 80;
    font-size: 30px;
    padding-top: 10px;
    margin-top: 20px;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: #a9a9a9;
    color: #808080
}

.socials{
    padding-bottom: 200px;
}
.logo{
    height: 80px;
    margin: 30px;
}

.social{
    margin: 20px;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot{
    width: 300px;
    border-radius: 120px;
}
.headshot-container{
    display: flex;
    align-items: center;
}

.project-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(173, 173, 173);
    margin: 10px;
    padding-bottom: 5px;
    justify-content: end;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width : 800px){
    .project-container{
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image{
    margin-top: 35px;
    width: 200px;
    border-radius: 125px;
    height: 150px;
}
hr{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link{
    text-decoration: none;
    color: #ef744b; 
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.hamburger{
    display: none;
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width: 1000px){
    .hamburger{
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        align-self: flex-end;
    }

    ul{
        display: none;
        background-color: #2a2d41;
        margin: 0px;
    }

    ul.show{
        display: block;
    }

    nav{
        display: flex;
        flex-direction: column-reverse;
        background-color: #2a2d41;
    }

    .logo{
        display: none;
    }

}

footer{
    padding: 90px;
    background-color: black;
    background-blend-mode: color;
    color: white;
    text-align: center;
}
